$orange: #ff7d00;
$black: #635f85;
$orange-heading: #ff7d01;
$orange-btn: #f5830b;
$orange-secondary: linear-gradient(103.38deg, #f67102 5.1%, #f4a91e 86.29%);
$btn-btn-primary: linear-gradient(97.61deg, #f67906 0.67%, #f4a81d 89.89%);
$gray-bg: #f4f7fd;
$heading-title: #051441;
$grey: #5d677e;
$desc-grey: #6b7d92;
$grey-light: #79899d;
$bg-feature: #f4f8fd;
$while: #ffffff;
$footer-title-heading: #d9e1f0;
$text-footer: #afaccd;
$bg-footer: #052347;
$font: "Poppins", sans-serif;
$text-gray-light: #7f8ea1;
